@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@theme{
    --color-nu-blue: #35408E;
    --font-poppins: "Poppins", sans-serif;
}

/* ------------------------------------ SIDE MENU BAR -------------------------------------- */
.mainCont{
    @apply w-auto min-h-full flex flex-row bg-red-500; 
    overflow: visible; 
    background-image: url('../src/pages/Sample/images/pattern.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.active-side-menu{
    @apply w-[20vw] h-[95vh] bg-yellow-50 mt-[2.5vh] ml-[1.5vw] rounded-xl mr-[1.5vw];
    position: sticky;
    top: 0;
}

.side-menu{
    @apply w-[3vw] h-[95vh] bg-yellow-50 mt-[2.5vh] ml-[1.5vw] rounded-lg mr-[1.5vw];
    position: sticky;
    top: 0;
}

/* ------------------------------------ CONTENT -------------------------------------- */

.active-main-content{
    @apply w-[75vw] h-auto flex items-center flex-col mt-[2.5vh];
}
.main-content{
    @apply w-[92vw] h-auto flex items-center flex-col mt-[2.5vh];
}


.header{
    @apply w-full h-[30vh] bg-yellow-50 rounded-2xl;
}

.body{
    @apply w-full h-[120vh] bg-yellow-50 rounded-2xl mt-[2vh];
}


/* ------------------------------------ END CONTENT -------------------------------------- */

.btn-container{
    @apply w-full h-[5%] flex flex-row mb-[10px] items-center pl-[1px] pt-[1vh];
    cursor: pointer;
}

.menu-icon{
    @apply w-[20px] m-[10px] ml-[10px] ;
    cursor: pointer;
}

.menu-text{
    @apply text-base font-medium font-sans text-black ml-[10px];
    cursor: pointer;
}

.avatar{
    @apply w-full h-auto justify-center items-center mb-[10px];
    cursor: pointer;
}
.avatar-container{
    @apply ring-primary ring-offset-base-100 w-24 rounded-full ring 
    ring-offset-2;
}

.name-container{
    @apply w-full flex flex-col justify-center items-center mb-[20px];
}
.user-name{
    @apply text-yellow-600 text-lg font-bold;
}

.user-email{
    @apply text-xs text-gray-500 font-medium;
}

.logout-container{
    @apply w-full flex flex-col justify-center items-center 
    mb-[20px];
}

.logout-btn{
    @apply btn btn-soft btn-warning w-[150px] h-[50px];
}

/* ------------------------------------ END SIDE MENU BAR -------------------------------------- */




