@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import "tailwindcss";
@plugin "daisyui";

:root {
    --spacing: 12px;
    --mini-spacing: 6px;
  
    --main_height: 100vh;
    --main_width: 100vw;
  
    --menu_width: 44px;
    --active_menu_width: 280px;
    --btn_height: 35px;
    --icon_size: 20px;
    --menu-text: 16px;

    --content-container-height: calc(var(--main_height) - (var(--spacing) * 3));
  }
  
* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}


/*----- CONTAINER GOD -----*/

.main-container {
  width: var(--main_width);
  height: var(--main_height);
  background-image: url('../src/assets/pattern.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  padding: var(--spacing);
}

/********************************/


/*----- SIDE MENU CONTAINER -----*/

.side-menu {
  width: var(--menu_width);
  height: 100%;
  background-color: white;
  overflow: visible;
  transition: .3s;
  border-radius: 10px;
  overflow-y: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none;
  overflow: visible;
}
.side-menu::-webkit-scrollbar {
  display: none;
}

.active-side-menu{
  width: var(--active_menu_width);
  height: 100%;
  background-color: white;
  transition: .3s;
  border-radius: 10px;
  overflow-y: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

.active-side-menu::-webkit-scrollbar {
  display: none;
}

/********************************/


/*----- BUTTON MAIN CONTAINER -----*/

.btn-container {
  width: var(--menu_width);
  height: var(--menu_width);
  display: flex;              
  justify-content: center;    
  align-items: center;     
  margin: var(--mini-spacing) 0 var(--mini-spacing) 0;  
  background-color: transparent;
  transition: .3s;
}
.btn-container:hover{
  background-color: #FFEFBA;
}

.active-btn-container{
  width: var(--active_menu_width);
  height: var(--menu_width);
  display: flex;      
  flex-direction: row;    
  justify-content: flex-start;      
  align-items: center;     
  margin: 0 0 0 0;  
  transition: .3s;
}

.active-btn-container:hover{
  background-color: #FFEFBA;
}


.selected{
  background-color: #FFEFBA;
}

.selected .active-btn-txt{
  filter: invert(66%) sepia(96%) saturate(350%) hue-rotate(1deg) brightness(105%) contrast(105%);
}

.selected .active-mainIcon{
  filter: invert(66%) sepia(96%) saturate(350%) hue-rotate(1deg) brightness(105%) contrast(105%);
}

.selected .mainIcon {
  filter: invert(70%) sepia(100%) saturate(350%) hue-rotate(1deg) brightness(100%) contrast(85%);
}


/********************************/



/*----- THE BUTTON -----*/

.btn-icon {
  width: var(--menu_width);
  height: var(--menu_width);
  display: flex;
  justify-content: center;
  align-items: center;   
  background-color: transparent;    
  cursor: pointer; 
}

.btn-icon:hover .mainIcon{
  filter: invert(66%) sepia(96%) saturate(350%) hue-rotate(1deg) brightness(105%) contrast(105%);
}

.active-btn-icon{
  width: var(--active_menu_width);
  height: var(--menu_width);
  display: flex;
  align-items: center;    
  padding: 0;
  cursor: pointer; 
}

.active-btn-icon:hover .active-mainIcon{
  filter: invert(66%) sepia(96%) saturate(350%) hue-rotate(1deg) brightness(105%) contrast(105%);
}

.active-btn-icon:hover .active-btn-txt{
  filter: invert(66%) sepia(96%) saturate(350%) hue-rotate(1deg) brightness(105%) contrast(105%);
}

/********************************/


/*----- AVATAR AND NAME AND EMAIL -----*/

.avatar{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--mini-spacing) 0 var(--mini-spacing) 0;
}

.avatar-container{
  width: 50%;
  border-radius: 100%;
  box-shadow: 0 0 0 4px red;
  outline: 2px solid red;
  /* outline-offset: 4px;  */
}

.name-container{
  transition: .3s;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 var(--mini-spacing) 0;
}
.user-name{
  font-size: 18px;
  font-weight: 700;
  color: rgb(234, 175, 13)
}

.user-email{
  font-size: 12px;
  color: #6a7282;
  font-weight: 500;
}

/********************************/




/*----- BUTTON ICON AND TEXT -----*/

.mainIcon {
  width: var(--icon_size);
  height: var(--icon_size);
  max-width: var(--icon_size);
  overflow: hidden;
}

.active-mainIcon{
  width: var(--icon_size);
  height: var(--icon_size);
  max-width: var(--icon_size);
  margin: 0 0 0 calc(var(--mini-spacing) * 2);
  overflow: hidden;
}

.active-btn-txt{
  font-size: var(--menu-text);
  margin: 0 0 0 var(--spacing);
  transition: .1s;
  color: black;
}

/********************************/


/*----- CONTENTS CONTAINER -----*/

.content-container{
  width: 100%;
  height: var(--content-container-height);
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 0 0 var(--spacing);
  transition: .3s;
  border-radius: 10px;
}

/********************************/



/*----- GLOSSARY AND QUESTIONS HEADER -----*/

.content-header{
  width: 100%;
  height: 180px;
  background-color: red;
  border-radius: 15px;
  margin: 0 0 var(--spacing) 0;
}

.content-body{
  width: 100%;
  height: calc(var(--content-container-height) - 180px);
  background-color: green;
  border-radius: 15px;
}

/********************************/

  








