@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import "tailwindcss";
@plugin "daisyui";

:root {
    --spacing: 12px;
    --mini-spacing: 6px;
  
    --main_height: 100vh;
    --main_width: 100vw;
  
    --menu_width: 44px;
    --active_menu_width: 280px;
    --btn_height: 35px;
    --icon_size: 20px;
    --menu-text: 16px;

    --content-container-height: calc(var(--main_height) - (var(--spacing) * 3));

    --glossary-header-height: 200px;
  }
  
* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}


/*----- CONTAINER GOD -----*/

.main-container {
  width: var(--main_width);
  height: var(--main_height);
  background-image: url('../src/assets/pattern.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  padding: var(--spacing);
}

/********************************/


/*----- SIDE MENU CONTAINER -----*/

.side-menu {
  width: var(--menu_width);
  height: 100%;
  background-color: white;
  overflow: visible;
  transition: .3s;
  border-radius: 10px;
  overflow-y: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none;
  overflow: visible;
}
.side-menu::-webkit-scrollbar {
  display: none;
}

.active-side-menu{
  width: var(--active_menu_width);
  height: 100%;
  background-color: white;
  transition: .3s;
  border-radius: 10px;
  overflow-y: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none;
  min-width: var(--active_menu_width);
}

.active-side-menu::-webkit-scrollbar {
  display: none;
}

/********************************/


/*----- BUTTON MAIN CONTAINER -----*/

.btn-container {
  width: var(--menu_width);
  height: var(--menu_width);
  display: flex;              
  justify-content: center;    
  align-items: center;     
  margin: var(--mini-spacing) 0 var(--mini-spacing) 0;  
  background-color: transparent;
  transition: .3s;
}
.btn-container:hover{
  background-color: #FFEFBA;
}

.active-btn-container{
  width: var(--active_menu_width);
  height: var(--menu_width);
  display: flex;      
  flex-direction: row;    
  justify-content: flex-start;      
  align-items: center;     
  margin: 0 0 0 0;  
  transition: .3s;
}

.active-btn-container:hover{
  background-color: #FFEFBA;
}


.selected{
  background-color: #FFEFBA;
}

.selected .active-btn-txt{
  filter: invert(66%) sepia(96%) saturate(350%) hue-rotate(1deg) brightness(105%) contrast(105%);
}

.selected .active-mainIcon{
  filter: invert(66%) sepia(96%) saturate(350%) hue-rotate(1deg) brightness(105%) contrast(105%);
}

.selected .mainIcon {
  filter: invert(70%) sepia(100%) saturate(350%) hue-rotate(1deg) brightness(100%) contrast(85%);
}


/********************************/



/*----- THE BUTTON -----*/

.btn-icon {
  width: var(--menu_width);
  height: var(--menu_width);
  display: flex;
  justify-content: center;
  align-items: center;   
  background-color: transparent;    
  cursor: pointer; 
}

.btn-icon:hover .mainIcon{
  filter: invert(66%) sepia(96%) saturate(350%) hue-rotate(1deg) brightness(105%) contrast(105%);
}

.active-btn-icon{
  width: var(--active_menu_width);
  height: var(--menu_width);
  display: flex;
  align-items: center;    
  padding: 0;
  cursor: pointer; 
}

.active-btn-icon:hover .active-mainIcon{
  filter: invert(66%) sepia(96%) saturate(350%) hue-rotate(1deg) brightness(105%) contrast(105%);
}

.active-btn-icon:hover .active-btn-txt{
  filter: invert(66%) sepia(96%) saturate(350%) hue-rotate(1deg) brightness(105%) contrast(105%);
}

/********************************/


/*----- AVATAR AND NAME AND EMAIL -----*/

.avatar{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--mini-spacing) 0 var(--mini-spacing) 0;
}

.avatar-container{
  width: 50%;
  border-radius: 100%;
  box-shadow: 0 0 0 4px red;
  outline: 2px solid red;
  /* outline-offset: 4px;  */
}

.name-container{
  transition: .3s;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 var(--mini-spacing) 0;
}
.user-name{
  font-size: 18px;
  font-weight: 700;
  color: #FFEFBA;
}

.user-email{
  font-size: 12px;
  color: #6a7282;
  font-weight: 500;
}

/********************************/




/*----- BUTTON ICON AND TEXT -----*/

.mainIcon {
  width: var(--icon_size);
  height: var(--icon_size);
  max-width: var(--icon_size);
  overflow: hidden;
}

.active-mainIcon{
  width: var(--icon_size);
  height: var(--icon_size);
  max-width: var(--icon_size);
  margin: 0 0 0 calc(var(--mini-spacing) * 2);
  overflow: hidden;
}

.active-btn-txt{
  font-size: var(--menu-text);
  margin: 0 0 0 var(--spacing);
  transition: .1s;
  color: black;
}

/********************************/


/*----- CONTENTS CONTAINER -----*/

.content-container{
  width: 100%;
  height: var(--content-container-height);
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 0 0 var(--spacing);
  transition: .3s;
  border-radius: 10px;
}

/********************************/





/* ------------------------------------------- FOR MANAGE GLOSSARY AND QUESTION ONLY ---------------------------- */

/*----- GLOSSARY AND QUESTIONS HEADER AND BODY -----*/

.glossary-header{
  width: 100%;
  height: var(--glossary-header-height);
  background-color: red;
  border-radius: 15px;
  margin: 0 0 var(--spacing) 0;
}

.glossary-body{
  width: 100%;
  height: calc(var(--content-container-height) - var(--glossary-header-height));
  background-color: green;
  border-radius: 15px;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none;
  padding: calc(var(--spacing) * 2);
}

/********************************/


/*----- TITLE, SEARCH BAR AND BTN LETTERS -----*/

.glossary-title-container{
  width: 100%;
  height: calc((var(--glossary-header-height) - (var(--mini-spacing)) * 2) / 3);
  background-color: transparent;
  margin: 0 0 var(--mini-spacing) 0;
  display: flex;
  align-items: center;
  padding: 0 0 0 30px;
}

.glossary-title{
  font-size: 30px;
  color: #FFC100;
}


.glossary-search-container {
  width: 100%;
  height: calc((var(--glossary-header-height) - (var(--mini-spacing)) * 2) / 3);
  margin: 0 0 var(--mini-spacing) 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glossary-search-holder {
  width: 80%;
  height: 40px;
  background-color: white;
  border-radius: 30px;
  display: flex;         
  align-items: center;       
  padding: 0 var(--spacing);           
}

.search-btn {
  width: 40px;
  height: 100%;
  border: none;        
  background-color: brown;      
  cursor: pointer;    
  margin: 0 var(--mini-spacing) 0 0;       
}

.search-input {
  flex-grow: 1;             
  height: 100%;              
  border: none;              
  outline: none;             
  padding: 0 var(--mini-spacing);           
  color: black;              
}


.glossary-letters-btn-container{
  width: 100%;
  height: calc((var(--glossary-header-height) - (var(--mini-spacing) * 2)) / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}

/********************************/

/* *********************************************************************************************************** */

  
/* ------------------------------------------- START OF PROFILE SETTINGS CSS ---------------------------- */

/*margin / padding: top right bottom left*/

.main-cont-prof-settings{
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;

  overflow: hidden;

  /* background: gray; */
}

.header-cont-prof-settings {
  height: 30%;

  /* background: purple; */
}

.header-text-prof-settings {
  margin: 0 0 0 var(--spacing);
  padding : var(--spacing) 0 0 0;
  font-size: 35px;
  font-family: Poppins;
  font-weight: bold;
  color: #FFD41C;
}

.content-cont {
  width: 100%;
  height: 70%;

  border-radius: 10px;

  background: white;
}

.prof-pic-cont {
  position: absolute;
  top: 140px;
  left: 100px;
  width: 305px;
  height: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid yellow;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;

  background: white;
}

.prof-pic {
  border-radius: 100%;
  width: 260px;
  height: 260px;
}

.notdisplayed {
  display: none;
}

.displayed {
  top: 25px;
  left: 22px;
  position: absolute;
  border-radius: 100%;
  width: 260px;
  height: 260px;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.edit-icon {
  width: 50px;
  height: 50px;
}

.edit-btn-cont-prof-settings {
  width: 290px;
  height: 45x;
  position: absolute;
  margin: 225px 0 0 110px;

  overflow: hidden;
  /* background: purple; */
}

.edit-btn-prof-settings {
  width: 290px;
  height: 45px;
  border-radius: 33px;
  border: 1px solid black;
  background: white;
  color: black;
  font-family: Poppins;
  font-weight: bold;
  cursor: pointer;
} 

.user-name-cont {
  width: 74%;
  height: 48%;
  float: right;
  padding: 25px 0 0 0;

  /* background: purple */
}

.user-name-prof-settings {
  color: black;
  font-family: Poppins;
  font-weight: bold;
  font-size: 50px;
}

.position-prof-settings {
  color: black;
  font-family: Poppins;
  font-weight: normal;
  font-size: 25px;
}

.forms-cont-prof-settings {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  overflow-y: auto;
  margin: 0 0 0 58px;

  /* background: gray; */
}

.first-forms-cont {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
  overflow-y: auto;

  /* background: red; */
}

.fname-cont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;

  /* background: pink; */
}

.lname-cont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;

  /* background: cyan; */
}

.email-cont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;

  /* background: purple; */
}

.second-forms-cont {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  overflow-y: auto;

  /* background: black; */
}

.empno-cont {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;

  /* background: red; */
}

.nubranch-cont{

  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;

  /* background: green; */
}

.pos-cont {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;

  /* background: blue; */

}

.empno-text {
  color: black;
  font-family: Poppins;
  margin: 0 0 15px -345px;
}

.pos-text{
  color: black;
  font-family: Poppins;
  margin: 0 0 15px -385px;
}

.form-text {
  color: black;
  font-family: Poppins;
  margin: 0 0 15px -365px;
}

.email-text {
  color: black;
  font-family: Poppins;
  margin: 0 0 15px -410px;
}

.form-fields {
  border: 1px solid black;
  border-radius: 10px;
  height: 60px;
  width: 450px;
  color: black;
  font-family: Poppins;
}

/* .main-cont-prof-settings {
  position: relative;
  height: 100%;
  background: red;
  overflow: hidden;
}  */

/* .content-cont {
  width: 100%;
  height: 657px;
  border: 1px solid black;
  border-radius: 15px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 210px;
  overflow: hidden;
} */

/* .profile-picture-cont {
  width: 305px;
  height: 310px;
  border: 1px solid yellow;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
  top: 100px; higher num - lower pos // lower num  - higher pos
  left: 200px; lower num - closer to left // higher num - farther to left
  position: absolute;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
} */

/* .prof-pic {
  border-radius: 100%;
  width: 260px;
  height: 260px;
} */

/* .upload-btn-cont {
  width: 290px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 423px;
  overflow: hidden;
  background: red;
} */

/* .upload-btn {
  width: 290px;
  height: 45px;
  border-radius: 33px;
  border: 1px solid black;
  background: white;
  color: black;
  cursor: pointer;
} */

/* .upload-btn-bottom-label {
  margin-top: 15px;
  color: black;
} */

/* .name-cont {
  width: 1000px;
  height: 50px;
  display: flex;
  justify-content:flex-start;
  align-items:center;
  flex-direction: row;
  background: red;

  margin-top: 85px;
  margin-left: 70px;
  overflow: hidden;
} */

/* .profile-name {
  color: black;
  font-size: 35px;
  font-weight: bold;
  overflow: hidden;
} */

/* .edit-btn {
  width: 35px;
  height: 35px;
  cursor: pointer;
  margin-left: 10px;
} */



/* ------------------------------------------- END OF PROFILE SETTINGS CSS ---------------------------- */





